{
  "dev": {
    "label": "开发环境",
    "base_root_url": "http://127.0.0.1:807",
    "api_root_url": "http://127.0.0.1:807/index.php?s=/api"
  },
  "local": {
    "label": "本地联调",
    "base_root_url": "http://127.0.0.1:807",
    "api_root_url": "http://127.0.0.1:807/index.php?s=/api"
  },
  "lan": {
    "label": "局域网联调",
    "base_root_url": "http://192.168.1.2:807",
    "api_root_url": "http://192.168.1.2:807/index.php?s=/api"
  },
  "test": {
    "label": "测试环境",
    "base_root_url": "https://test.example.com",
    "api_root_url": "https://test.example.com/api"
  },
  "gray": {
    "label": "灰度环境",
    "base_root_url": "https://gray.example.com",
    "api_root_url": "https://gray.example.com/api"
  },
  "prod": {
    "label": "正式环境",
    "base_root_url": "https://413.chaimen666.com",
    "api_root_url": "https://413.chaimen666.com/api"
  }
}
